<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{%if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
<meta name="description" content="{{site.description}}" />
<link rel="stylesheet" href="/simple.min.css">
<style>
  :root {--accent-bg: #f7fff5; --accent: #47a10d}
  @media (prefers-color-scheme: dark) { :root {--accent-bg: #122f30; --accent: #47aaad} }
</style>

<link rel="icon" href="/favicon.png" />
<link rel="apple-touch-icon" href="/favicon.png">

 <!-- Facebook integration -->
<meta property="og:title" content="{%if page.title %}{{page.title}} | {% endif %}{{site.title}}"/>
<meta property="og:image" content="{{site.logo}}"/>
<meta property="og:url" content="{{site.url}}{{page.url}}"/>
<meta property="og:description" content="{{site.description}}"/>
<meta property="og:site_name" content="{{site.title}}"/>
<meta property="og:type" content="article">

<!-- Twitter integration -->
<meta name="twitter:title" content="{%if page.title %}{{page.title}} | {% endif %}{{site.title}}" />
<meta name="twitter:image" content="{{site.logo}}" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />
<meta name="twitter:description" content="{{site.description}}" />
<meta name="twitter:card" content="summary_large_image">

<link rel="canonical" href="{{site.url}}{{page.url}}">

  </head>
  <body>

    <header>
      <nav>

        {% if page.url == "/" %}
            <a href="/" class="current">Home</a>
        {% else %}
            <a href="/">Home</a>
        {% endif %}

        {% if page.url == "/community/" %}
            <a href="/community/" class="current">Community</a>
        {% else %}
            <a href="/community/">Community</a>
        {% endif %}

        {% if page.url == "/events/" %}
            <a href="/events/" class="current">Events</a>
        {% else %}
            <a href="/events/">Events</a>
        {% endif %}

        {% if page.url == "/projects/" %}
            <a href="/projects/" class="current">Projects</a>
        {% else %}
            <a href="/projects/">Projects</a>
        {% endif %}
  
        <a href="https://github.com/{{site.github}}">GitHub</a>
        
        <a href="https://{{site.zulip}}.zulipchat.com">Zulip</a>
  
      </nav>

      <img style="border-radius:0" alt="code4math logo" src="{{site.logo}}">
      <p>{%if page.title %}<strong>{{page.title}}</strong> | {% endif %}Consortium of Digital Ecosystems for Mathematics</p>
    </header>

    <main>

        {{ content }}

    </main>

    <footer>
      <p>
The content of this site is licensed under
<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
      </p>
    </footer>

  </body>
</html>
